
div{
  height: 40vh;
  width: 40vw;
  margin: auto;
  color: aqua;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: black;
}
select{
  border: 3px solid cyan;
  background-color: rgb(237, 232, 232);
  color: rgb(2, 9, 15);
  width: 150px;
  margin : 20px;
}